<%- include('./partials/top') %>
<%- include('./partials/nav') %>
<main>
<section class="baseplate">   
      <% list.houses.forEach(house => { %>
   
        
    <article class="houses">
    
    <ul>
        <li><img class="image-size" src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>" alt="image house"></li>
      <li><%= house.f_houses_id.street %> <%= house.f_houses_id.house_nr %> <%= house.f_houses_id.house_nr_addition %></li>
      <li><%= house.f_houses_id.postal_code %></li> 
      <li><%= house.f_houses_id.city %></li> 
      <li>€<%= house.f_houses_id.price %></li> 
      <li><%= house.f_houses_id.agent %></li> 
      <li><p>+ Rating</p></li> 
    </ul>
  </article>

    
  <% }); %>

</section>


  </main>
