<%- include('./partials/top') %>

<section class="outer-rating">


<article class="rating">
    <article class="top-rating">
    <button type="submit" title="close"> <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#clip0_429_11083)"> <path d="M7 7.00006L17 17.0001M7 17.0001L17 7.00006" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11083"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg> </button>
    <ul>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
    </ul>
</article>
<article class="main-rating">

    <%- include('./partials/rating') %><h2>Algemeen</h2>
    
    <ul>
        <li><%- include('./partials/rating') %><p>Keuken</p></li>
        <li><%- include('./partials/rating') %><p>Tuin</p></li>
        <li><%- include('./partials/rating') %><p>Ligging</p></li>
        <li><%- include('./partials/rating') %><p>Badkamer</p></li>
        <li><%- include('./partials/rating') %><p>Prijs</p></li>
        <li><%- include('./partials/rating') %><p>Oppervlakte</p></li>
        <li><button type="submit">+ Voeg critirea toe</button></li>
    </ul>
    
</article>
<article class="notes">
    <h3>Jouw notities</h3>
    <form action="" id=""> 
        <textarea name="" form=""></textarea>
        <input type="submit">
        <input type="submit" formnovalidate="formnovalidate">
      </form>
      


</article>
            
    
</article>

</section>

<p><%- include('./partials/foot') %></p>

