<%- include('./partials/top') %>

<section class="outer-rating">


<article class="rating">
    <article class="top-rating">
    <button type="submit" title="close"> <%- include('./partials/closebutton') %> </button>
    <ul>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
        <li><img src="/businessman-character-avatar-isolated_24877-60111.jpeg" alt=""><p>***</p></li>
    </ul>
</article>
<article class="main-rating">

    <%- include('./partials/rating') %><h2>Algemeen</h2>
    
    <ul>
        <li><%- include('./partials/rating') %><p>Keuken</p></li>
        <li><%- include('./partials/rating') %><p>Tuin</p></li>
        <li><%- include('./partials/rating') %><p>Ligging</p></li>
        <li><%- include('./partials/rating') %><p>Badkamer</p></li>
        <li><%- include('./partials/rating') %><p>Prijs</p></li>
        <li><%- include('./partials/rating') %><p>Oppervlakte</p></li>
        <li><button type="submit"><p>+ Voeg critirea toe</button></p></li>
    </ul>
    
</article>
<article class="notes">
    <h3>Notities</h3>
    <form action="" id=""> 
        <textarea name="" form=""></textarea>
        <input type="submit">
        <input type="submit" formnovalidate="formnovalidate">
      </form>
      


</article>
            
    
</article>

</section>

<p><%- include('./partials/foot') %></p>

